/*For Devs */
/* Essential Order */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  font-family: 'Raleway', sans-serif !important;
}
/* Components */
.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 15vh;
  background-color: #733be3;
}
@media (max-width: 500px) {
  .navbar {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .navbar {
    width: 100%;
    height: 30vh;
    color: #733be3;
    display: flex;
    flex-direction: column;
  }
}
.navbar .logo {
  width: 30%;
  text-align: center;
}
.navbar .logo img {
  height: auto;
  width: auto;
  max-width: 100px;
  max-height: 200px;
}
.navbar .navlinks {
  width: 70%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  .navbar .navlinks {
    display: flex;
    flex-direction: column;
  }
}
.navbar .navlinks a {
  letter-spacing: 1.5px;
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
}
.navbar .navlinks a:visited {
  text-decoration: none;
}
.navbar .navlinks a:hover {
  color: black;
  border: 1px solid black;
  background-color: #ffffff;
  border-radius: 30px;
  color: #733be3;
}
.team {
  text-align: center;
  font-size: 50px;
  margin: 30px 30px 50px 30px;
  color: #733be3;
}
footer {
  color: #ffffff;
  background: #733be3;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  footer {
    display: none;
  }
}
.signup {
  display: flex;
  justify-content: space-evenly;
  height: 80vh;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 15px;
}
@media (max-width: 500px) {
  .signup {
    height: 60vh;
  }
}
.signup .mainpic {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
@media (max-width: 500px) {
  .signup .mainpic {
    display: none;
  }
}
.signup .mainpic img {
  height: 100%;
  width: 100%;
}
.signup .maintext {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  margin: 120px;
}
@media (max-width: 500px) {
  .signup .maintext {
    width: 75%;
  }
}
@media (max-width: 500px) {
  .signup .maintext {
    margin: 120px 0px 120px 0px;
  }
}
.signup .maintext h1 {
  font-weight: bold;
  font-size: 50px;
  color: #525252;
}
.signup .maintext button {
  color: #ffffff;
  background-color: #733be3;
  font-size: 20px;
  padding: 20px;
  border-radius: 30px;
  text-align: center;
  width: 30%;
}
@media (max-width: 500px) {
  .signup .maintext button {
    color: #ffffff;
    background-color: #733be3;
    font-size: 20px;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    width: 100%;
  }
}
.signup .maintext button:hover {
  color: #733be3;
  background-color: #ffffff;
  font-size: 20px;
  padding: 20px;
  border-radius: 30px;
  text-align: center;
  width: 30%;
  border: 1px solid black;
}
@media (max-width: 500px) {
  .signup .maintext button:hover {
    color: #ffffff;
    background-color: #733be3;
    font-size: 20px;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    width: 100%;
  }
}
#question {
  margin-top: 80px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 40px;
  color: #733be3;
}
.why {
  margin: 30px;
  height: 85vh;
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  .why {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 50px;
    padding: 0px;
    height: 10vh;
  }
  .why footer {
    width: 100%;
  }
}
.why .whytop {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 500px) {
  .why .whytop {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 30px;
  }
}
.why .whytop img {
  height: 25vh;
  width: 450px;
}
@media (max-width: 500px) {
  .why .whytop img {
    width: 50%;
  }
}
.why .whytop p {
  width: 50%;
  color: #525252;
}
@media (max-width: 500px) {
  .why .whytop p {
    width: 75%;
    margin-top: 30px;
  }
}
.why .whytop em {
  color: #1b8852;
}
.why .middle {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 500px) {
  .why .middle {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    margin: 30px;
  }
}
.why .middle img {
  height: 25vh;
  width: 450px;
}
@media (max-width: 500px) {
  .why .middle img {
    width: 50%;
  }
}
.why .middle p {
  width: 50%;
  color: #525252;
}
@media (max-width: 500px) {
  .why .middle p {
    width: 75%;
    margin-top: 30px;
  }
}
.why .middle em {
  color: #1b8852;
  font-size: 20px;
}
.why .whybottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 500px) {
  .why .whybottom {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 30px;
  }
}
.why img {
  height: 25vh;
  width: 450px;
}
@media (max-width: 500px) {
  .why img {
    width: 50%;
  }
}
.why p {
  width: 50%;
  color: #525252;
}
@media (max-width: 500px) {
  .why p {
    width: 75%;
    margin-top: 30px;
  }
}
.why em {
  color: #1b8852;
  font-size: 20px;
}
.overall {
  margin: 30px;
}
.overall .firstrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}
@media (max-width: 500px) {
  .overall .firstrow {
    flex-direction: column;
  }
}
.overall .firstrow .firstrowleft {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 300px;
}
@media (max-width: 500px) {
  .overall .firstrow .firstrowleft {
    padding: 0px;
    margin-top: 20px;
    text-align: center;
  }
}
.overall .firstrow .firstrowleft .name {
  font-size: 25px;
  color: #525252;
}
.overall .firstrow .firstrowleft .role {
  color: #1b8852;
}
.overall .firstrow .firstrowleft .personpic1 {
  height: 25vh;
  width: 275px;
  margin: 10px;
}
.overall .firstrow .firstrowleft .github1 {
  height: 25px;
  width: 25px;
  margin: 10px;
}
.overall .firstrow .firstrowmiddle {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 300px;
}
@media (max-width: 500px) {
  .overall .firstrow .firstrowmiddle {
    padding: 0px;
    margin-top: 20px;
    text-align: center;
  }
}
.overall .firstrow .firstrowmiddle .name {
  font-size: 25px;
  color: #525252;
}
.overall .firstrow .firstrowmiddle .role {
  color: #1b8852;
}
.overall .firstrow .firstrowmiddle .personpic2 {
  height: 25vh;
  width: 275px;
  margin: 10px;
}
.overall .firstrow .firstrowmiddle .github2 {
  height: 25px;
  width: 25px;
  margin: 10px;
}
.overall .secondrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}
@media (max-width: 500px) {
  .overall .secondrow {
    flex-direction: column;
  }
}
.overall .secondrow .secondrowleft {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 500px) {
  .overall .secondrow .secondrowleft {
    padding: 0px;
    margin-top: 20px;
    text-align: center;
  }
}
.overall .secondrow .secondrowleft .name {
  font-size: 25px;
  color: #525252;
}
.overall .secondrow .secondrowleft .role {
  color: #1b8852;
}
.overall .secondrow .secondrowleft .personpic1 {
  height: 25vh;
  width: 275px;
  margin: 10px;
}
.overall .secondrow .secondrowleft .github1 {
  height: 25px;
  width: 25px;
  margin: 10px;
}
.overall .secondrow .secondrowmiddle {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 500px) {
  .overall .secondrow .secondrowmiddle {
    padding: 0px;
    margin: 20px;
    text-align: center;
  }
}
.overall .secondrow .secondrowmiddle .name {
  font-size: 25px;
  color: #525252;
}
.overall .secondrow .secondrowmiddle .role {
  color: #1b8852;
}
.overall .secondrow .secondrowmiddle .personpic2 {
  height: 25vh;
  width: 275px;
  margin: 10px;
}
.overall .secondrow .secondrowmiddle .github2 {
  height: 25px;
  width: 25px;
  margin: 10px;
}
.overall .secondrow .secondrowright {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 500px) {
  .overall .secondrow .secondrowright {
    padding: 0px;
    margin: 20px;
    text-align: center;
  }
}
.overall .secondrow .secondrowright .name {
  font-size: 25px;
  color: #525252;
}
.overall .secondrow .secondrowright .role {
  color: #1b8852;
}
.overall .secondrow .secondrowright .personpic3 {
  height: 25vh;
  width: 275px;
  margin: 10px;
}
.overall .secondrow .secondrowright .github3 {
  height: 25px;
  width: 25px;
  margin: 10px;
}
.overall .thirdrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}
@media (max-width: 500px) {
  .overall .thirdrow {
    flex-direction: column;
  }
}
.overall .thirdrow .thirdrowleft {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 500px) {
  .overall .thirdrow .thirdrowleft {
    padding: 0px;
    margin: 20px;
    text-align: center;
  }
}
.overall .thirdrow .thirdrowleft .name {
  font-size: 25px;
  color: #525252;
}
.overall .thirdrow .thirdrowleft .role {
  color: #1b8852;
}
.overall .thirdrow .thirdrowleft .personpic1 {
  height: 25vh;
  width: 275px;
  margin: 10px;
}
.overall .thirdrow .thirdrowleft .github1 {
  height: 25px;
  width: 25px;
  margin: 10px;
}
.overall .thirdrow .thirdrowmiddle {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 500px) {
  .overall .thirdrow .thirdrowmiddle {
    padding: 0px;
    margin: 20px;
    text-align: center;
  }
}
.overall .thirdrow .thirdrowmiddle .name {
  font-size: 25px;
  color: #525252;
}
.overall .thirdrow .thirdrowmiddle .role {
  color: #1b8852;
}
.overall .thirdrow .thirdrowmiddle .personpic2 {
  height: 25vh;
  width: 275px;
  margin: 10px;
}
.overall .thirdrow .thirdrowmiddle .github2 {
  height: 25px;
  width: 25px;
  margin: 10px;
}
.overall .thirdrow .thirdrowright {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 500px) {
  .overall .thirdrow .thirdrowright {
    padding: 0px;
    margin: 20px;
    text-align: center;
  }
}
.overall .thirdrow .thirdrowright .name {
  font-size: 25px;
  color: #525252;
}
.overall .thirdrow .thirdrowright .role {
  color: #1b8852;
}
.overall .thirdrow .thirdrowright .personpic3 {
  height: 25vh;
  width: 275px;
  margin: 10px;
}
.overall .thirdrow .thirdrowright .github3 {
  height: 25px;
  width: 25px;
  margin: 10px;
}
.overall .fourthrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}
@media (max-width: 500px) {
  .overall .fourthrow {
    flex-direction: column;
  }
}
.overall .fourthrow .fourthrowmiddle {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 500px) {
  .overall .fourthrow .fourthrowmiddle {
    padding: 0px;
    margin: 20px;
    text-align: center;
  }
}
.overall .fourthrow .fourthrowmiddle .name {
  font-size: 25px;
  color: #525252;
}
.overall .fourthrow .fourthrowmiddle .role {
  color: #1b8852;
}
.overall .fourthrow .fourthrowmiddle .personpic2 {
  height: 25vh;
  width: 275px;
  margin: 10px;
}
.overall .fourthrow .fourthrowmiddle .github2 {
  height: 25px;
  width: 25px;
  margin: 10px;
}
.overall .fourthrow .fourthrowright {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 500px) {
  .overall .fourthrow .fourthrowright {
    padding: 0px;
    margin: 20px;
    text-align: center;
  }
}
.overall .fourthrow .fourthrowright .name {
  font-size: 25px;
  color: #525252;
}
.overall .fourthrow .fourthrowright .role {
  color: #1b8852;
}
.overall .fourthrow .fourthrowright .personpic3 {
  height: 25vh;
  width: 275px;
  margin: 10px;
}
.overall .fourthrow .fourthrowright .github3 {
  height: 25px;
  width: 25px;
  margin: 10px;
}
