/*For Devs */
/* Essential Order */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  font-family: 'Raleway', sans-serif !important;
}
/* Components */
.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 15vh;
  background-color: #733be3;
}
.navbar .logo {
  width: 30%;
  text-align: center;
}
.navbar .logo img {
  height: auto;
  width: auto;
  max-width: 100px;
  max-height: 200px;
}
.navbar .navlinks {
  width: 70%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
.navbar .navlinks a {
  letter-spacing: 1.5px;
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
}
.navbar .navlinks a:visited {
  text-decoration: none;
}
.navbar .navlinks a:hover {
  color: black;
  border: 1px solid black;
  background-color: #ffffff;
  border-radius: 30px;
  color: #733be3;
}
.team {
  text-align: center;
  font-size: 50px;
  margin: 30px;
}
.signup {
  display: flex;
  justify-content: space-evenly;
  height: 80vh;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 15px;
}
.signup .mainpic {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup .mainpic img {
  height: 70vh;
  width: 685px;
}
.signup .maintext {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  margin: 120px 0px 120px 0px;
}
.signup .maintext h1 {
  font-weight: bold;
  font-size: 50px;
  color: #525252;
}
.signup .maintext button {
  color: #ffffff;
  background-color: #733be3;
  font-size: 20px;
  padding: 20px;
  border-radius: 30px;
  text-align: center;
  width: 30%;
}
.signup .maintext button:hover {
  color: #733be3;
  background-color: #ffffff;
  font-size: 20px;
  padding: 20px;
  border-radius: 30px;
  text-align: center;
  width: 30%;
  border: 1px solid black;
}
#question {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 40px;
  color: #733be3;
}
.why {
  margin: 30px;
  height: 85vh;
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
}
.why .whytop {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.why .whytop img {
  height: 25vh;
  width: 450px;
}
.why .whytop p {
  width: 50%;
  color: #525252;
}
.why .whytop em {
  color: #1b8852;
}
.why .middle {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.why .middle img {
  height: 25vh;
  width: 450px;
}
.why .middle p {
  width: 50%;
  color: #525252;
}
.why .middle em {
  color: #1b8852;
  font-size: 20px;
}
.why .whybottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.why img {
  height: 25vh;
  width: 450px;
}
.why p {
  width: 50%;
  color: #525252;
}
.why em {
  color: #1b8852;
  font-size: 20px;
}
.overall {
  margin: 30px;
}
.overall .firstrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}
.overall .firstrow .firstrowleft {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.overall .firstrow .firstrowleft .personpic1 {
  height: 25vh;
  width: 275px;
}
.overall .firstrow .firstrowleft .github1 {
  height: 25px;
  width: 25px;
}
.overall .firstrow .firstrowmiddle {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.overall .firstrow .firstrowmiddle .personpic2 {
  height: 25vh;
  width: 275px;
}
.overall .firstrow .firstrowmiddle .github2 {
  height: 25px;
  width: 25px;
}
.overall .firstrow .firstrowright {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.overall .firstrow .firstrowright .personpic3 {
  height: 25vh;
  width: 275px;
}
.overall .firstrow .firstrowright .github3 {
  height: 25px;
  width: 25px;
}
.overall .secondrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}
.overall .secondrow .secondrowleft {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.overall .secondrow .secondrowleft .personpic1 {
  height: 25vh;
  width: 275px;
}
.overall .secondrow .secondrowleft .github1 {
  height: 25px;
  width: 25px;
}
.overall .secondrow .secondrowmiddle {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.overall .secondrow .secondrowmiddle .personpic2 {
  height: 25vh;
  width: 275px;
}
.overall .secondrow .secondrowmiddle .github2 {
  height: 25px;
  width: 25px;
}
.overall .secondrow .secondrowright {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.overall .secondrow .secondrowright .personpic3 {
  height: 25vh;
  width: 275px;
}
.overall .secondrow .secondrowright .github3 {
  height: 25px;
  width: 25px;
}
.overall .thirdrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}
.overall .thirdrow .thirdrowleft {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.overall .thirdrow .thirdrowleft .personpic1 {
  height: 25vh;
  width: 275px;
}
.overall .thirdrow .thirdrowleft .github1 {
  height: 25px;
  width: 25px;
}
.overall .thirdrow .thirdrowmiddle {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.overall .thirdrow .thirdrowmiddle .personpic2 {
  height: 25vh;
  width: 275px;
}
.overall .thirdrow .thirdrowmiddle .github2 {
  height: 25px;
  width: 25px;
}
.overall .thirdrow .thirdrowright {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.overall .thirdrow .thirdrowright .personpic3 {
  height: 25vh;
  width: 275px;
}
.overall .thirdrow .thirdrowright .github3 {
  height: 25px;
  width: 25px;
}
.overall .fourthrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}
.overall .fourthrow .fourthrowleft {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.overall .fourthrow .fourthrowleft .personpic1 {
  height: 25vh;
  width: 275px;
}
.overall .fourthrow .fourthrowleft .github1 {
  height: 25px;
  width: 25px;
}
.overall .fourthrow .fourthrowmiddle {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.overall .fourthrow .fourthrowmiddle .personpic2 {
  height: 25vh;
  width: 275px;
}
.overall .fourthrow .fourthrowmiddle .github2 {
  height: 25px;
  width: 25px;
}
.overall .fourthrow .fourthrowright {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.overall .fourthrow .fourthrowright .personpic3 {
  height: 25vh;
  width: 275px;
}
.overall .fourthrow .fourthrowright .github3 {
  height: 25px;
  width: 25px;
}
