// home
.signup {
  .flexevenly();
  height: 80vh;
  margin-top: 20px; 
  margin-right: 20px;
  margin-left: 15px;
  @media @mobile {
    height: 60vh;
  }


  

  .mainpic {
    width: 60%;
    .flexcenter();
    align-items: center;
    margin-top: 30px;

    @media @mobile {
      display: none;
    }


    img {
      height: 100%;
      width: 100%;

      
    }
  }
  .maintext {
    width: 40%;

    @media @mobile {
      width: 75%;
    }
    .flexcenter();
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin: 120px;

    @media @mobile {
      margin: 120px 0px 120px 0px;
    }

    h1 {
      font-weight: bold;
      font-size: 50px;
      color: @text-color;
    }
    button {
      .buttonlayout(#ffffff, @main-color, 20px, 50%);
      @media @mobile {
        .buttonlayout(#ffffff, @main-color, 20px, 100%);
        margin: 50px;
      }
    }

    button:hover {

      .buttonlayout(@main-color, #ffffff, 20px, 50%);
      border: 1px solid black;
      @media @mobile {
        .buttonlayout(#ffffff, @main-color, 20px, 100%);
      }
    }
  }
}

