header{
    .flex(row);
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    padding: 2rem 0;
    img{
        width: 10rem;
        height: 10rem;
    }
    button{
        .button(white);
    }
}