@import "variables";
@import "mixins";
@import "reset";
@import "global";
@import "navigation";



.sign-up {
    display: flex;
    img {
        width: 40%;
    }
    .signup-text {
        width: 40%;
    }
}