.center() {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.btn-style() {
    border-radius: 10px;
        background-color: @light-green;
        border: 1px solid @dark-grey;
        font-size: 1.6rem;
        color: #fff;
        border-radius: 10px;
        &:hover {
            background-color: @bright-purple;
            color: @light-green;
            }
}

