// Navigation Styles here
.navbar {
    @media @mobile {
        width: 100%;
      }

    .flexevenly();
    align-items: center;
    height: 15vh;
    color: @main-color;
    background-color: @main-color;

    @media @mobile {
        width: 100%;
        height: 35%;
        color: @main-color;
        display: flex;
        flex-direction: column;
      }
    .logo {
        width: 30%;
        text-align: center;

        img {
            height: auto; 
            width: auto; 
            max-width: 100px; 
            max-height: 200px;
            }
    }

    .navlinks {
        width: 70%;
        text-align: center;
        @media @mobile {
            display: flex;
            flex-direction: column;
            width: 100%;
          }
        .flexevenly();
        a {
            letter-spacing: 1.5px;
            text-decoration: none;
            color: #ffffff;
            padding: 10px;
        }

        a:visited {
            text-decoration: none;
          }
        
        a:hover {
            color: black;
            border: 1px solid black;
            background-color: #ffffff;
            border-radius: 30px;
            color: @main-color;


             
        }
    }

}
.team {
    text-align: center;
    font-size: 50px;
    margin: 30px 30px 50px 30px;
    color: @main-color;
}

