h1{
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    padding: 3rem 0;
    @media @mobile{
        margin-top: 8rem;
      }
}

.teams{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 5rem;
    .team-member{
        border: 2px solid black;
        border-radius: 1rem;
        padding: 2rem;
        text-align: center;
        img{
            border-radius: 30%;
        }
    }
}