
// Color assignments 
@main-color: @purple;
@text-color: @grey;
@complementary-color: @green;


// Colors

@green: rgb(103, 224, 99);
@grey: #525252;
@purple: #733be3;

//Mobile Specs

@mobile: ~ '(max-width: 414px)';
