
// Color assignments 
@main-color: @purple;
@text-color: @grey;
@complementary-color: @green;


// Colors

@green: #1b8852;
@grey: #525252;
@purple: #3d148f;

//Mobile Specs

@mobile: ~ '(max-width: 500px)';
